<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="{{href}}""{{title}}</a>
      </h4>
    </div>
    <div class="panel-body">

        {{#each personalComments}}
          {{> personal/comments-block}}
        {{/each}}
		</div>
      <div class="panel-footer"></div>
  </div>
	<button type="button" class="btn btn-sm btn-danger deleteButton" data-id="{{id}}">Delete</button>
</div>
